body {
  font-size: 16px;
  line-height: 24px;
}
p { margin-bottom: 24px; }
h1 {
  font-size: 48px;
  margin-bottom: 24px;
  line-height: 72px;
}
h2 {
  font-size: 24px;
  margin-bottom: 24px;
  line-height: 24px;
}
h3 {
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 24px;
}
ul, ol { margin-bottom: 24px; }
li ul { margin-bottom: 0; }
li ol { margin-bottom: 0; }
ul#nav li a {
  padding-top: 11px;
  padding-bottom: 12px;
  font-size: 18px;
}
.left {
  float: left;
  margin: 0 24px 24px 0;
}
.right {
  float: right;
  margin: 0 0 24px 24px;
}
.entry-date div {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 0px;
}
.last {
  margin-right: 0px;
  padding-right: 0px;
}
#container {
  margin: auto;
  width: 950px;
  min-height: 100%;
  overflow: auto;
}
#header {
  float: left;
  margin-right: 10px;
  width: 790px;
  padding-left: 150px;
  margin-right: 0px;
  padding-right: 0px;
}
#sidebar {
  float: left;
  margin-right: 10px;
  width: 150px;
  padding-right: 70px;
}
ul#nav {
  float: left;
  margin-right: 10px;
  width: 149px;
}
ul#nav li a {
  width: 132px;
  padding-left: 18px;
}
#content {
  float: left;
  margin-right: 10px;
  width: 550px;
  padding-bottom: 20px;
}
.entry h2 {
  float: left;
  margin-right: 10px;
  width: 550px;
  margin-right: 0px;
  padding-right: 0px;
}
.entry-footer { display: none; }
.entry-contents {
  float: left;
  margin-right: 10px;
  width: 470px;
}
.entry-date {
  float: left;
  margin-right: 10px;
  width: 60px;
  margin-right: 0px;
  padding-right: 0px;
}
.pre-wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin-bottom: 24px;
  font-family: Terminus, monospace;
  font-size: 12px;
  color: white;
  background-color: #333333;
  padding-left: 3px;
  padding-right: 3px;
  border-left: 5px solid #999999;
}
