@font-face {
  font-family: Diavlo-Black;
  src: url("./diavlo/Diavlo_BLACK_II_37.otf");
}
@font-face {
  font-family: Diavlo-Medium;
  src: url("./diavlo/Diavlo_MEDIUM_II_37.otf");
}
@font-face {
  font-family: Fontin-Sans-Regular;
  src: url("./fontin/Fontin_Sans_R_45b.otf");
}
@font-face {
  font-family: Titillium;
  src: url('./titillium/TitilliumText20L.otf');
}
body {
  font-family: Titillium, "Gill Sans", Helvetica, Tahoma, sans-serif;
  color: black;
  background-color: #89bad9;
  background-image: -moz-linear-gradient(top, #030140, #89bad9);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#030140), to(#89bad9));
  background-attachment: fixed;
}
#container {
  border-left: 1px solid #030140;
  border-right: 1px solid #030140;
  background-color: white;
}
h1 a { text-decoration: none; }
h2 a { text-decoration: none; }
h1 a { color: #3462bf; }
h2 a { color: #030140; }
h3 a { color: #030140; }
h1, h2, h3 { font-family: Diavlo-Black; }
ul#nav {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  font-family: Diavlo-Medium;
  background-color: #88a61b;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 10px;
  border-right: 1px solid #738c16;
  border-top: 1px solid #738c16;
  border-bottom: 1px solid #738c16;
}
ul#nav li { border-top: 1px solid #738c16; }
ul#nav li:first-child { border-top: 0; }
ul#nav li a {
  padding-left: 18px;
  text-decoration: none;
  color: #030140;
  display: block;
}
ul#nav li:hover { background-color: #738c16; }
ul#nav li:last-child:hover {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 10px;
}
ul#nav li:first-child:hover {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}
.entry-date {
  background-color: #89bad9;
  border: 1px solid #030140;
  color: #030140;
  padding-left: 4px;
  padding-right: 4px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 0px;
  text-align: center;
  font-weight: bold;
  font-family: Diavlo;
  -moz-box-shadow: 5px 5px 5px 0px #888888;
  -webkit-box-shadow: 5px 5px 5px #888888;
}
.entry-date div { font-weight: bolder; }
.feedlink {
  background-image: url('../images/silk/icons/feed.png');
  background-repeat: no-repeat;
  background-attachment: fixe;
  background-position: 90% 45%;
}
