@font-face {
  font-family: Diavlo-Black;
  src: url("./diavlo/Diavlo_BLACK_II_37.otf");
}
@font-face {
  font-family: Diavlo-Medium;
  src: url("./diavlo/Diavlo_MEDIUM_II_37.otf");
}
@font-face {
  font-family: Fontin-Sans-Regular;
  src: url("./fontin/Fontin_Sans_R_45b.otf");
}
@font-face {
  font-family: Titillium;
  src: url('./titillium/TitilliumText20L.otf');
}
body {
  font-family: Titillium, "Gill Sans", Helvetica, Tahoma, sans-serif;
  color: black;
  background-color: #89bad9;
}
#container {
  border-left: 1px solid #030140;
  border-right: 1px solid #030140;
  background-color: white;
}
h1 a { text-decoration: none; }
h2 a { text-decoration: none; }
h1 a { color: #3462bf; }
h2 a { color: #030140; }
h3 a { color: #030140; }
h1, h2, h3 { font-family: Diavlo-Black; }
ul#nav {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  font-family: Diavlo-Medium;
  background-color: #88a61b;
}
ul#nav li { border-top: 0.5px solid #738c16; }
ul#nav li:first-child { border-top: 0; }
ul#nav li a {
  padding-left: 18px;
  text-decoration: none;
  color: #030140;
  width: 100%;
}
ul#nav li:hover { background-color: #738c16; }
